/* Header Animation */
.header h1 {
    font-family: 'Croissant One', sans-serif;
    font-size: 3rem;
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff, 0 0 80px #ffffff;
    }
    100% {
        text-shadow: 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff, 0 0 80px #ff00ff, 0 0 90px #ff00ff;
    }
}


/* SG Live Date and Day */
#liveDate{
    font-family:'Croissant One', sans-serif;
}


body {
    background: #C9D6FF;
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
}

.container {
    max-width: 100%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Croissant One', sans-serif;
}

.row {
    border-radius: 5px 5px 0 0;
    padding: 40px;
    background-image: linear-gradient(340deg, #045de9 0%, #f90959 100%);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

/* Add hover effect */
li:hover {
    background-color: #f8f9fa;
}

/* Add animation */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.fadeIn {
    animation: fadeIn 0.5s ease-in-out;
}

.completed {
    text-decoration: line-through;
}

#motivationalQuotes {
    font-family: 'Croissant One', sans-serif;
    font-style: italic;
}

/* Sub-Header Animation Text */
.rainbow-text {
    font-family: 'Croissant One', sans-serif;
    font-size: 24px;
    animation: rainbowAnimation 15s linear infinite;
}

@keyframes rainbowAnimation {
    0% { color: red; }
    16.67% { color: black; }
    33.33% { color: yellow; }
    50% { color: green; }
    66.67% { color: orange; }
    83.33% { color: indigo; }
    100% { color: violet; }
}

/* Media Query for Large Devices (Tablets and Desktops) */
@media only screen and (min-width: 768px) {
    /* Adjust layout for large devices */
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .col-lg-3 {
        flex: 0 0 30%;
        max-width: 30%;
    }
    .col-lg-9 {
        flex: 0 0 70%;
        max-width: 70%;
    }
}

/* Media Query for Small Devices (Mobile Phones) */
@media only screen and (max-width: 767px) {
    /* Adjust layout for small devices */
    .container {
        padding: 10px;
    }
    .row {
        padding: 20px;
    }
    .col-lg-3, .col-lg-9 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
