.header h1 {
    font-family: 'Croissant One', sans-serif;
}


#liveDate{
    font-family:'Croissant One', sans-serif;
}


body {
    background: #C9D6FF;
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
}

.container {
    max-width: 100%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* font-family:'Montserrat', sans-serif; */
    font-family:'Croissant One', sans-serif;
}


.row {
    border-radius: 5px 5px 0 0;
    padding: 40px;
    background-image: linear-gradient(340deg, #045de9 0%, #f90959 100%);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

/* Add hover effect */
li:hover {
    background-color: #f8f9fa;
}

/* Add animation */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.fadeIn {
    animation: fadeIn 0.5s ease-in-out;
}

.completed {
    text-decoration: line-through;
}

#motivationalQuotes {
    font-family: 'Croissant One', sans-serif;
    font-style: italic;
}

